
        <nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse" data-simplebar>
          <div class="sidebar-inner px-4 pt-3">
          <div style="text-align: center;">

            </div>
          </div>
            <ul class="nav flex-column pt-3 pt-md-0">
              <li class="nav-item">
                <a href="/Capture" class="nav-link d-flex align-items-center">
                  <span class="sidebar-icon">
                   <img class="img-fluid w-20" src="/static/assets/img/Symbol/Logotype_white.png" alt="Logotype">
                  </span>
                </a>
              <li class="nav-item {% if 'transactions' in segment %} active {% endif %}">
                <a href="/Capture" class="nav-link">
                  <span class="sidebar-icon">
                    <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
                  </span>
                  <span class="sidebar-text">출석체크</span>
                </a>
              </li>

              <li class="nav-item">
                <a target="_blank"
                   href="/"
                  class="btn btn-secondary d-flex align-items-center justify-content-center btn-upgrade-pro">
                  <span>HOME</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>