{% extends "layouts/base.html" %}

{% block title %} 유해성분 관리 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="py-4">
      <div class="d-flex justify-content-between w-100 flex-wrap">
          <div class="mb-3 mb-lg-0">
              <h1 class="h4">유해성분 등록</h1>
          </div>
      </div>
  </div>

  <div class="card border-0 shadow mb-4">
      <div class="card-body">
          <div class="row mb-4">
              <div class="col-lg-4 col-sm-6">
                  <form method="post">
                      <div class="mb-4">
                          <label for="ingredient">유해성분</label>
                          <input type="text" class="form-control" id="ingredient" name="ingredient" placeholder="유해성분">
                      </div>
                      <div class="mb-4">
                          <a href="ingredient_list" class="btn btn-secondary">취소</a>
                          <button type="submit" class="btn btn-primary">등록</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
