{% extends "layouts/base-fullscreen.html" %}

{% block title %} 관리자 로그인 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
            <div class="container">
                <h1 class="text-center">
                    명지전문대학 정보통신공학과
                </h1>
                <div class="row justify-content-center form-bg-image" data-background-lg="/static/assets/img/illustrations/signin.svg">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-400">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">
                                    출결 관리 시스템
                                </h1>
                                <br />
                                <p>
                                    {% if msg %}
                                        {{ msg | safe }}
                                    {% else %}
                                        손지은 | 임채연 | 조서연
                                    {% endif %}
                                </p>
                            </div>
                            <form method="post" action="" class="mt-4">

                                {{ form.hidden_tag() }}

                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <!--<label for="email">교번</label>-->
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1">
                                            <span class="fas fa-user-circle"></span>
                                        </span>
                                        {{ form.username(placeholder="교번", class="form-control") }}
                                    </div>
                                </div>
                                <!-- End of Form -->
                                <div class="form-group">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                       <!-- <label for="password">비밀번호</label>-->
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon2">
                                                <span class="fas fa-unlock-alt"></span>
                                            </span>
                                            {{ form.password(placeholder="비밀번호", class="form-control", type="password") }}
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    <div class="d-flex justify-content-between align-items-top mb-4"></div>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" name="login" class="btn btn-gray-800">로그인</button>
                                </div>
                            </form>
                            <br />
{#                            <div class="d-flex justify-content-center align-items-center mt-4">#}
{#                                <span class="fw-normal">#}
{#                                    추후 삭제 예정#}
{#                                    <a href="{{ url_for('authentication_blueprint.register') }}" class="fw-bold">회원가입</a>#}
{#                                </span>#}
{#                            </div>#}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
