{% extends "layouts/base.html" %}

{% block title %} 과목관리 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


    <div class="py-4">
        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <h1 class="h3">[과목관리]</h1>
            </div>
            <div>
                <a href="subject_list" class="btn btn-info">과목 등록</a>
            </div>
        </div>
    </div>


    <div class="card border-0 shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-centered table-nowrap mb-0 rounded">
                    <thead class="thead-light">
                    <tr>
                        <th class="border-0">진행학기</th>
                        <th class="border-0">과목코드</th>
                        <th class="border-0">과목명</th>
                        <th class="border-0">교수명</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if subject_list %}
                        {% for subject in subject_list %}
                            <tr>
                                <td>{{ subject.subject }}</td>
                                <td>
                                    <a href="{{ url_for('home_blueprint.subject_delete', subject=subject.subject) }}"
                                       class="btn btn-sm btn-danger btn-delete">삭제</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <th width="150px">2022-1</th>
                            <th width="150px">101</th>
                            <th width="150px">소프트웨어공학</th>
                            <th width="150px">정필성</th>
                        </tr>
                        <tr>
                            <th width="150px">2022-1</th>
                            <th width="150px">102</th>
                            <th width="150px">스마트로봇프로그래밍</th>
                            <th width="150px">진용화</th>
                        </tr>
                        <tr>
                            <th width="150px">2022-1</th>
                            <th width="150px">103</th>
                            <th width="150px">자료구조</th>
                            <th width="150px">곽노건</th>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE
{% block javascripts %}

{% endblock javascripts %}-->
